INDEXER_IS_ENABLED=1
INDEXER_BATCH_COUNT=1000

# ws | http. ws works faster
INDEXER_RPC_TRANSPORT=ws
# rpc list for a shard comma separated
# http
#INDEXER_RPC_SHARD0=https://a.api.s0.t.hmny.io,https://api.s0.t.hmny.io,https://api0.s0.t.hmny.io
#INDEXER_RPC_SHARD1=https://api.s1.t.hmny.io
#INDEXER_RPC_SHARD2=https://api.s2.t.hmny.io
#INDEXER_RPC_SHARD3=https://api.s3.t.hmny.io

#ws
INDEXER_RPC_SHARD0=wss://ws.s0.t.hmny.io
INDEXER_RPC_SHARD1=wss://ws.s1.t.hmny.io
INDEXER_RPC_SHARD2=wss://ws.s2.t.hmny.io
INDEXER_RPC_SHARD3=wss://ws.s3.t.hmny.io

#postgres
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=e
POSTGRES_PORT=5432
POSTGRES_POOL_SIZE=90