INDEXER_IS_ENABLED=1
INDEXER_BATCHED_COUNT=1000

# rpc list for a shard comma separated
INDEXER_RPC_SHARD0=https://a.api.s0.t.hmny.io,https://api.s0.t.hmny.io,https://api0.s0.t.hmny.io
INDEXER_RPC_SHARD1=https://api.s1.t.hmny.io
INDEXER_RPC_SHARD2=https://api.s2.t.hmny.io
INDEXER_RPC_SHARD3=https://api.s3.t.hmny.io

#postgres
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=e
POSTGRES_PORT=5432
